.gridelement {
    margin-top: 20rem;
    margin-left: 10rem;
    position:absolute;
    background-color: rgb(255, 255, 255, 255);
    border: solid 1px black;
    width: 40px;
    height: 40px;
}

header {
    text-align: center;
}

.disablediv {
    pointer-events: none;
}

#transition {
    margin-top: 25rem;
    width: 75%;
    margin-left: 25%;
    margin-right: 25%;
}

#nextbutton {
    visibility: hidden;
    margin-left: 8rem;
}

#boardheader {
    display: inline;
    margin-left: 12rem;
}

#otherboardheader {
    display: inline;
    margin-left: 10rem;
}

#board {
    margin-top: 10rem;
}

#reset {
    margin-bottom: 5rem;
}